<%= form_for(@company_sale) do |f| %>
  <% if @company_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_sale.errors.count, "error") %> prohibited this company_sale from being saved:</h2>

      <ul>
      <% @company_sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>
        <label for="dump_file">
          Selecione o arquivo de venda para upload :
        </label>
      </td>
      <td>
        <%= f.file_field :file %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit 'Enviar' %>
      </td>
    </tr>
  </table>

<% end %>
