<h1>Listagem de Venda da Empresa</h1>

<% if flash[:success] %>
  <div class="notification is-primary global-notification">
    <p class="notice"><%= flash[:success] %></p>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="notification is-danger global-notification">
    <p class="alert"><%= flash[:danger] %></p>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.company_sale.buyer") %></th>
      <th><%= t("activerecord.attributes.company_sale.description") %></th>
      <th><%= t("activerecord.attributes.company_sale.unit_price") %></th>
      <th><%= t("activerecord.attributes.company_sale.quantity") %></th>
      <th><%= t("activerecord.attributes.company_sale.address") %></th>
      <th><%= t("activerecord.attributes.company_sale.supplier")  %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @company_sales.each do |company_sale| %>
      <tr>
        <td><%= company_sale.buyer %></td>
        <td><%= company_sale.description %></td>
        <td><%= company_sale.unit_price %></td>
        <td><%= "R$ #{company_sale.quantity}" %></td>
        <td><%= company_sale.address %></td>
        <td><%= company_sale.supplier %></td>
        <td><%= link_to 'Ver', company_sale %></td>
        <td><%= link_to 'Editar', edit_company_sale_path(company_sale) %></td>
        <td><%= link_to 'Excluir', company_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td><%= "R$ #{@company_sales.sum(:quantity)}"%></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'Nova Venda', new_company_sale_path, class: 'button' %>
<%= link_to 'Importar Arquivo', upload_company_sales_path, class: 'button' %>
